.footer-container {
  height: 15vh;
  background-color: #1a140ead;
  display: flex;
}

.footer {
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
}

.footer-p {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.718);
}

.vic-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.vic {
  color: rgba(255, 255, 255, 0.388);
  font-weight: 400;
}

.footer-2023 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .footer-container {
    margin-bottom: 80px;
  }
}
